#map {
    height: 650px;
}



@media screen and (max-width: 640px) {
    .logo {

        width: 25%;
    }

    h1 {
        font-size: 18px;
    }

    h3 {
        font-size: 16px;
    }

    .navbar-toggle {
        background-color: #ccc !important;
    }
}
