<!DOCTYPE html>
<html>
<head>
	<title></title>
	     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<style>
		.email {
			height: 40px;
			border: 1px solid #ccc;
			width: 300px;
			margin-top: 1%;
			-webkit-box-shadow: inset -8px -9px 4px -9px rgba(204,204,204,1);
            -moz-box-shadow: inset -8px -9px 4px -9px rgba(204,204,204,1);
            box-shadow: inset -8px -9px 4px -9px rgba(204,204,204,1);
            padding: 0 20px;
		}
		.textarea {
			width: 300px;
		}
	</style>
</head>
<body>
	<div class = "container">
<h1>База даних чиновників</h1>

<h2>Самойленко Анатолій Григорович</h2>
<h3>Депутат Коростишівської міської ради 8 скликання.</h3>
<img src = "1.jpg">
<p>Об"єкти на реконструкції в підпорядкуванні:
	<br>
	<a href = "">Ремонт даху будівля по вулиці Різдвяна 23</a>
	<br>
	<a href = "">Ремонт даху будівля по вулиці Садова 4</a>
	<br>
	<a href = "">Ремонт даху будівля по вулиці Київська 113</a>
	<br><br>
	Написати депутату.
	<br>
	<form>
		<input type = "email" value = "Ведіть ваш емейл" class="email">
		<br>
	*Вкажіть Тему вашого звертання, назву об"єкту і адресу в Вашому повідомленні.
	Опишіть вашу проблему і додайте файл (опціонально).
	<br>
	<textarea value = "Тут ваш текст..." class = "textarea"></textarea>
	<br>
	<input type = "file">
	<br>
	<input type = "submit" value = "Відправити" class = "btn btn-success">
</form>

<br>
Залишити публічний коментар. Онлайн-дискусія.
<br>
<form>
<textarea class = "textarea" value = "Текст коментаря"></textarea>
<br>
<input type = "submit" value = "Відправити коментар" class = "btn btn-success">
</form>

</p>

<h2>Вдовіна Ольга Валеріївна</h2>
<h3>Депутат Коростишівської об'єднаної територіальної громади восьмого скликання.</h3>
<img src = "2.jpg">
<p>Об'єкти на реконструкції в підпорядкуванні:
  <br>
  <a href = "">Ремонт даху будівлі на Соборній площі 1</a>
  <br>
  <a href = "">Кладка дороги по вулиці Давида Гофштейна</a>
  <br>
  <a href = "">Встановлення освітлення по вулиці Давида Гофштейна</a>
  <br><br>
  Написати депутату.
  <br>
  <form>
    <input type = "email" value = "Ведіть ваш емейл">
    <br>
  *Вкажіть Тему вашого звертання, назву об"єкту і адресу в Вашому повідомленні.
  Опишіть вашу проблему і додайте файл (опціонально).
  <br>
  <textarea value = "Тут ваш текст..."></textarea>
  <br>
  <input type = "file">
  <br>
  <input type = "submit" value = "Відправити" class = "btn btn-success">
</form>
<br>
Залишити публічний коментар. Онлайн-дискусія.
<br>
<form>
<textarea class = "textarea" value = "Текст коментаря"></textarea>
<br>
<input type = "submit" value = "Відправити коментар" class = "btn btn-success">
</form>

</p>

<h2>Чиколай Микола Костянтинович</h2>
<h3>Депутат Коростишівської об'єднаної територіальної громади восьмого скликання.</h3>
<img src = "3.jpg">
<p>Об'єкти на реконструкції в підпорядкуванні:
  <br>
  <a href = "">Ремонт водовідведення по вулиці Дарбіняна</a>
  <br>
  <a href = "">Кладка дороги по провулку Садовий</a>
  <br>
  <a href = "">Встановлення освітлення по вулиці Пилипа Орлика</a>
  <br><br>
  Написати депутату.
  <br>
  <form>
    <input type = "email" value = "Ведіть ваш емейл">
    <br>
  *Вкажіть Тему вашого звертання, назву об"єкту і адресу в Вашому повідомленні.
  Опишіть вашу проблему і додайте файл (опціонально).
  <br>
  <textarea value = "Тут ваш текст..."></textarea>
  <br>
  <input type = "file">
  <br>
  <input type = "submit" value = "Відправити" class = "btn btn-success">
</form>
<br>
Залишити публічний коментар. Онлайн-дискусія.
<br>
<form>
<textarea class = "textarea" value = "Текст коментаря"></textarea>
<br>
<input type = "submit" value = "Відправити коментар" class = "btn btn-success">
</form>

</p>
<a name="omel"></a>
<h2>Омельченко Костянтин Костянтинович</h2>
<h3>Депутат Коростишівської об'єднаної територіальної громади восьмого скликання.</h3>
<img src = "4.jpg">
<p>Об'єкти на реконструкції в підпорядкуванні:
  <br>
  <a href = "">Ремонт даху будівлі по вулиці Балакіна 1</a>
  <br>
  <a href = "">Кладка дороги по вулиці Б.Хмельницького</a>
  <br>
  <a href = "">Встановлення освітлення по вулиці Ковпака</a>
  <br><br>
  Написати депутату.
  <br>
  <form>
    <input type = "email" value = "Ведіть ваш емейл">
    <br>
  *Вкажіть Тему вашого звертання, назву об"єкту і адресу в Вашому повідомленні.
  Опишіть вашу проблему і додайте файл (опціонально).
  <br>
  <textarea value = "Тут ваш текст..."></textarea>
  <br>
  <input type = "file">
  <br>
  <input type = "submit" value = "Відправити" class = "btn btn-success">
</form>
<br>
Залишити публічний коментар. Онлайн-дискусія.
<br>
<form>
<textarea class = "textarea" value = "Текст коментаря"></textarea>
<br>
<input type = "submit" value = "Відправити коментар" class = "btn btn-success">
</form>

</p>

<h2>Сельчук Віктор Юрійович</h2>
<h3>Депутат Коростишівської об'єднаної територіальної громади восьмого скликання.</h3>
<img src = "5.jpg">
<p>Об'єкти на реконструкції в підпорядкуванні:
  <br>
  <a href = "">Ремонт даху будівлі по вулиці Крилова</a>
  <br>
  <a href = "">Кладка дороги по вулиці Зарічна</a>
  <br>
  <a href = "">Встановлення освітлення по вулиці Зарічна</a>
  <br><br>
  Написати депутату.
  <br>
  <form>
    <input type = "email" value = "Ведіть ваш емейл">
    <br>
  *Вкажіть Тему вашого звертання, назву об"єкту і адресу в Вашому повідомленні.
  Опишіть вашу проблему і додайте файл (опціонально).
  <br>
  <textarea value = "Тут ваш текст..."></textarea>
  <br>
  <input type = "file">
  <br>
  <input type = "submit" value = "Відправити" class = "btn btn-success">
</form>
<br>
Залишити публічний коментар. Онлайн-дискусія.
<br>
<form>
<textarea class = "textarea" value = "Текст коментаря"></textarea>
<br>
<input type = "submit" value = "Відправити коментар" class = "btn btn-success">
</form>

</p>

<h2>Шуневич Людмила Іванівна</h2>
<h3>Депутат Коростишівської об'єднаної територіальної громади восьмого скликання.</h3>
<img src = "6.jpg">
<p>Об'єкти на реконструкції в підпорядкуванні:
  <br>
  <a href = "">Ремонт даху будівля на вулиці Островського 1</a>
  <br>
  <a href = "">Кладка дороги по вулиці Назаренка</a>
  <br>
  <a href = "">Встановлення освітлення по вулиці Назаренка</a>
  <br><br>
  Написати депутату.
  <br>
  <form>
    <input type = "email" value = "Ведіть ваш емейл">
    <br>
  *Вкажіть Тему вашого звертання, назву об"єкту і адресу в Вашому повідомленні.
  Опишіть вашу проблему і додайте файл (опціонально).
  <br>
  <textarea value = "Тут ваш текст..."></textarea>
  <br>
  <input type = "file">
  <br>
  <input type = "submit" value = "Відправити" class = "btn btn-success">
</form>
<br>
Залишити публічний коментар. Онлайн-дискусія.
<br>
<form>
<textarea class = "textarea" value = "Текст коментаря"></textarea>
<br>
<input type = "submit" value = "Відправити коментар" class = "btn btn-success">
</form>

</p>

<h2>Криницький Олег Леонідовчи</h2>
<h3>Депутат Коростишівської об'єднаної територіальної громади восьмого скликання.</h3>
<img src = "7.jpg">
<p>Об'єкти на реконструкції в підпорядкуванні:
  <br>
  <a href = "">Ремонт даху будівля на вулиці Чайковського 1</a>
  <br>
  <a href = "">Кладка дороги по вулиці 8-го Березня</a>
  <br>
  <a href = "">Встановлення освітлення по вулиці 8-го Березня</a>
  <br><br>
  Написати депутату.
  <br>
  <form>
    <input type = "email" value = "Ведіть ваш емейл">
    <br>
  *Вкажіть Тему вашого звертання, назву об"єкту і адресу в Вашому повідомленні.
  Опишіть вашу проблему і додайте файл (опціонально).
  <br>
  <textarea value = "Тут ваш текст..."></textarea>
  <br>
  <input type = "file">
  <br>
  <input type = "submit" value = "Відправити" class = "btn btn-success">
</form>
<br>
Залишити публічний коментар. Онлайн-дискусія.
<br>
<form>
<textarea class = "textarea" value = "Текст коментаря"></textarea>
<br>
<input type = "submit" value = "Відправити коментар" class = "btn btn-success">
</form>

</p>
<a name="grab"></a>
<h2>Грабовський Олександр Володимирович</h2>
<h3>Депутат Коростишівської об'єднаної територіальної громади восьмого скликання.</h3>
<img src = "8.jpg">
<p>Об'єкти на реконструкції в підпорядкуванні:
  <br>
  <a href = "">Ремонт даху будівля на вулиці Київська 49</a>
  <br>
  <a href = "">Кладка дороги по вулиці Дмитрова</a>
  <br>
  <a href = "">Встановлення освітлення по вулиці Дмитрова</a>
  <br><br>
  Написати депутату.
  <br>
  <form>
    <input type = "email" value = "Ведіть ваш емейл">
    <br>
  *Вкажіть Тему вашого звертання, назву об"єкту і адресу в Вашому повідомленні.
  Опишіть вашу проблему і додайте файл (опціонально).
  <br>
  <textarea value = "Тут ваш текст..."></textarea>
  <br>
  <input type = "file">
  <br>
  <input type = "submit" value = "Відправити" class = "btn btn-success">
</form>
<br>
Залишити публічний коментар. Онлайн-дискусія.
<br>
<form>
<textarea class = "textarea" value = "Текст коментаря"></textarea>
<br>
<input type = "submit" value = "Відправити коментар" class = "btn btn-success">
</form>

</p>

<h2>Бурилко Валентина Яківна</h2>
<h3>Депутат Коростишівської об'єднаної територіальної громади восьмого скликання.</h3>
<img src = "9.jpg">
<p>Об'єкти на реконструкції в підпорядкуванні:
  <br>
  <a href = "">Ремонт даху будівля на вулиці Миру 1</a>
  <br>
  <a href = "">Кладка дороги по вулиці Миру</a>
  <br>
  <a href = "">Встановлення освітлення по вулиці Миру</a>
  <br><br>
  Написати депутату.
  <br>
  <form>
    <input type = "email" value = "Ведіть ваш емейл">
    <br>
  *Вкажіть Тему вашого звертання, назву об"єкту і адресу в Вашому повідомленні.
  Опишіть вашу проблему і додайте файл (опціонально).
  <br>
  <textarea value = "Тут ваш текст..."></textarea>
  <br>
  <input type = "file">
  <br>
  <input type = "submit" value = "Відправити" class = "btn btn-success">
</form>
<br>
Залишити публічний коментар. Онлайн-дискусія.
<br>
<form>
<textarea class = "textarea" value = "Текст коментаря"></textarea>
<br>
<input type = "submit" value = "Відправити коментар" class = "btn btn-success">
</form>

</p>

<h2>Підкевич Едуард Володимирович</h2>
<h3>Депутат Коростишівської об'єднаної територіальної громади восьмого скликання.</h3>
<img src = "10.jpg">
<p>Об'єкти на реконструкції в підпорядкуванні:
  <br>
  <a href = "">Ремонт даху будівля на вулиці Суворова 1</a>
  <br>
  <a href = "">Кладка дороги по вулиці Коцюбинського</a>
  <br>
  <a href = "">Встановлення освітлення по вулиці Сосніної</a>
  <br><br>
  Написати депутату.
  <br>
  <form>
    <input type = "email" value = "Ведіть ваш емейл">
    <br>
  *Вкажіть Тему вашого звертання, назву об"єкту і адресу в Вашому повідомленні.
  Опишіть вашу проблему і додайте файл (опціонально).
  <br>
  <textarea value = "Тут ваш текст..."></textarea>
  <br>
  <input type = "file">
  <br>
  <input type = "submit" value = "Відправити" class = "btn btn-success">
</form>
<br>
Залишити публічний коментар. Онлайн-дискусія.
<br>
<form>
<textarea class = "textarea" value = "Текст коментаря"></textarea>
<br>
<input type = "submit" value = "Відправити коментар" class = "btn btn-success">
</form>

</p>

<h2>Новак Ірина Олександрівна</h2>
<h3>Депутат Коростишівської об'єднаної територіальної громади восьмого скликання.</h3>
<img src = "11.jpg">
<p>Об'єкти на реконструкції в підпорядкуванні:
  <br>
  <a href = "">Ремонт даху будівлі на вулиці Комарова 1</a>
  <br>
  <a href = "">Висадження дерев по вулиці Гагаріна</a>
  <br>
  <a href = "">Встановлення освітлення по вулиці Горького</a>
  <br><br>
  Написати депутату.
  <br>
  <form>
    <input type = "email" value = "Ведіть ваш емейл">
    <br>
  *Вкажіть Тему вашого звертання, назву об"єкту і адресу в Вашому повідомленні.
  Опишіть вашу проблему і додайте файл (опціонально).
  <br>
  <textarea value = "Тут ваш текст..."></textarea>
  <br>
  <input type = "file">
  <br>
  <input type = "submit" value = "Відправити" class = "btn btn-success">
</form>
<br>
Залишити публічний коментар. Онлайн-дискусія.
<br>
<form>
<textarea class = "textarea" value = "Текст коментаря"></textarea>
<br>
<input type = "submit" value = "Відправити коментар" class = "btn btn-success">
</form>

</p>
<a name = "rud"></a>
<h2>Рудченко Юрій Володимирович</h2>
<h3>Депутат Коростишівської об'єднаної територіальної громади восьмого скликання.</h3>
<img src = "12.jpg">
<p>Об'єкти на реконструкції в підпорядкуванні:
  <br>
  <a href = "">Ремонт даху будівлі на вулиці Героїв Небесної Сотні 1</a>
  <br>
  <a href = "">Висадження дерев по вулиці Київська</a>
  <br>
  <a href = "">Встановлення освітлення по провулку Горького</a>
  <br><br>
  Написати депутату.
  <br>
  <form>
    <input type = "email" value = "Ведіть ваш емейл">
    <br>
  *Вкажіть Тему вашого звертання, назву об"єкту і адресу в Вашому повідомленні.
  Опишіть вашу проблему і додайте файл (опціонально).
  <br>
  <textarea value = "Тут ваш текст..."></textarea>
  <br>
  <input type = "file">
  <br>
  <input type = "submit" value = "Відправити" class = "btn btn-success">
</form>
<br>
Залишити публічний коментар. Онлайн-дискусія.
<br>
<form>
<textarea class = "textarea" value = "Текст коментаря"></textarea>
<br>
<input type = "submit" value = "Відправити коментар" class = "btn btn-success">
</form>

</p>

<h2>Бондарчук Леонід Вікторович</h2>
<h3>Депутат Коростишівської об'єднаної територіальної громади восьмого скликання.</h3>
<img src = "13.jpg">
<p>Об'єкти на реконструкції в підпорядкуванні:
  <br>
  <a href = "">Ремонт даху будівлі на вулиці Київська 211</a>
  <br>
  <a href = "">Висадження дерев по вулиці Київська 121-162</a>
  <br>
  <a href = "">Встановлення освітлення по вулиці Київська 121-162</a>
  <br><br>
  Написати депутату.
  <br>
  <form>
    <input type = "email" value = "Ведіть ваш емейл">
    <br>
  *Вкажіть Тему вашого звертання, назву об"єкту і адресу в Вашому повідомленні.
  Опишіть вашу проблему і додайте файл (опціонально).
  <br>
  <textarea value = "Тут ваш текст..."></textarea>
  <br>
  <input type = "file">
  <br>
  <input type = "submit" value = "Відправити" class = "btn btn-success">
</form>
<br>
Залишити публічний коментар. Онлайн-дискусія.
<br>
<form>
<textarea class = "textarea" value = "Текст коментаря"></textarea>
<br>
<input type = "submit" value = "Відправити коментар" class = "btn btn-success">
</form>

</p>

<h2>Папірник Олеся Євгенівна</h2>
<h3>Депутат Коростишівської об'єднаної територіальної громади восьмого скликання.</h3>
<img src = "14.jpg">
<p>Об'єкти на реконструкції в підпорядкуванні:
  <br>
  <a href = "">Ремонт даху будівлі на вулиці Героїв Крут 1</a>
  <br>
  <a href = "">Висадження дерев по вулиці Громової</a>
  <br>
  <a href = "">Встановлення освітлення по вулиці Зоряна</a>
  <br><br>
  Написати депутату.
  <br>
  <form>
    <input type = "email" value = "Ведіть ваш емейл">
    <br>
  *Вкажіть Тему вашого звертання, назву об"єкту і адресу в Вашому повідомленні.
  Опишіть вашу проблему і додайте файл (опціонально).
  <br>
  <textarea value = "Тут ваш текст..."></textarea>
  <br>
  <input type = "file">
  <br>
  <input type = "submit" value = "Відправити" class = "btn btn-success">
</form>
<br>
Залишити публічний коментар. Онлайн-дискусія.
<br>
<form>
<textarea class = "textarea" value = "Текст коментаря"></textarea>
<br>
<input type = "submit" value = "Відправити коментар" class = "btn btn-success">
</form>

</p>

<h2>Єсипчук Наталія Миколаївна</h2>
<h3>Депутат Коростишівської об'єднаної територіальної громади восьмого скликання.</h3>
<img src = "15.jpg">
<p>Об'єкти на реконструкції в підпорядкуванні:
  <br>
  <a href = "">Ремонт даху будівлі на вулиці Мануїльського 1</a>
  <br>
  <a href = "">Висадження дерев по вулиці Мічуріна</a>
  <br>
  <a href = "">Встановлення освітлення по вулиці Павлова</a>
  <br><br>
  Написати депутату.
  <br>
  <form>
    <input type = "email" value = "Ведіть ваш емейл">
    <br>
  *Вкажіть Тему вашого звертання, назву об"єкту і адресу в Вашому повідомленні.
  Опишіть вашу проблему і додайте файл (опціонально).
  <br>
  <textarea value = "Тут ваш текст..."></textarea>
  <br>
  <input type = "file">
  <br>
  <input type = "submit" value = "Відправити" class = "btn btn-success">
</form>
<br>
Залишити публічний коментар. Онлайн-дискусія.
<br>
<form>
<textarea class = "textarea" value = "Текст коментаря"></textarea>
<br>
<input type = "submit" value = "Відправити коментар" class = "btn btn-success">
</form>

</p>
</div>
   <script>
     const mysql = require('mysql');
const connection = mysql.createConnection({
  host: 'localhost',
  port : '3306',
   database: 'DB',
  user: 'root', 
  password: 'root'

});

connection.connect();



const sql = 'select * from deput';

connection.query(sql, function(err, rows, fields) {
  if (err) throw err;
  console.log(results);
});




connection.end();
   </script>
</body>
</html>